@import '../index.less';

.button {
	padding: 1rem 2rem;
	border-radius: 5rem;
	background: transparent;
	border: none;
	border: solid 3px var(--clr-white);
	margin-top: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
	outline: none;

	&__white {
		border: solid 3px var(--clr-white);
		color: var(--clr-white);

		@media @phone {
			border: solid 3px var(--clr-purple);
			color: var(--clr-purple);
		}
	}

	&__purple {
		border: solid 3px var(--clr-purple);
		color: var(--clr-purple);
	}
	&__submit {
		width: 100%;
		color: white;
		margin-top: 1rem;
	}
}

