@import '../components/index.less';

.signIn_formContainer {
	margin: 10% auto 0;
	width: 95%;
	max-width: 30rem;
	background: var(--clr-purple);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	padding: 5rem 3rem 3rem;
}
