@import '../components/index.less';

.action_container {
	margin: 5% auto 0;
	width: 95%;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	padding: 5rem 3rem 3rem;
	position: relative;

	@media @phone {
		width: 85%;
		padding: 3rem 1rem;
		border-radius: 2rem;
	}

	&__purple {
		background: var(--clr-purple);

		@media @phone {
			background: none;
		}
	}

	&__green {
		background: var(--clr-appleGreen);

		@media @phone {
			margin-top: 4rem;
		}
	}
}

.action_title {
	font-size: 1.4rem;
	margin-top: 3rem;
}

.signIn_logo {
	&__desctop {
		@media @phone {
			display: none;
		}
	}
	&__mobile {
		display: none;
		@media @phone {
			display: flex;
			margin: 2rem 0 3rem 0;
		}
	}
}
